@font-face {
    font-family: 'NMSL';
    src: url('../font/spyagencyv3cond-18.ttf');
}

#container {
    display: flex;
    height: 1200px;
    font-size: 24px;
}

#logo {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 15.6%;
    min-width: 120px;
}

#logo #logo-image {
    width: 100%;
}

#photo {
    flex: 5;
    background: seagreen;
}

#main {
    flex: 5;
    background: #30336b;
}

#main #article {
    position: fixed;
    margin-top: 160px;
    padding-left: 40px;
    padding-right: 60px;
}

#main #article #slogan {
    font-size: 2.5em;
    color: #fff;
    font-family: 'NMSL';
    margin-bottom: 40px;
    font-weight: 900;
}

#main #article .intro {
    color: #fff;
    line-height: 1.5em;
}

#main #article .heavy {
    font-weight: 600;
    font-size: 1em;
}

#main #article .thin {
    font-weight: 200;
    font-size: 0.8em;
}

@media screen and (max-width: 768px) {
    #container {
        font-size: 16px;
    }
    #photo {
        display: none;
    }
}